@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


@utility container {
    @apply mx-auto
}


@theme{
    --font-sora :"Sora", sans-serif;
    --color-primary : #8750F7;
    --color-backraund : #140C1C;
}

 .slick-dots .slick-active div {
    @apply bg-primary
     /* border-4 border-white */
}


